# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# Visual Studio User Data
*.suo
*.user
.idea/

# NuGet Stuff
NuGet.exe
*.nupkg
src/packages

# Back-up files
*.bak
*.orig

# Windows left-overs
Thumbs.db
